:root{
    --vermelho: #ac060e;
    --preta: #141414;
}


/* Elementos Base*/
@media screen and (min-width: 600px) and (max-width: 2000px) {
    
    body{
        background: var(--preta);
        font-family: 'Arial', Times, serif;
        background: no-repeat center center fixed url(../assets/img/Background.jpg);
        background-size: 100% 100%;  
        width:100%;
        font-family: Consolas,monospace  
    }

}


header .container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

header .Logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    text-decoration: none;   
    
}

header nav a{    
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/* gera uma cor diferente quando passa o mouse */
header nav a:hover{
    color: #fff; 
}

.form-control{
    width: 200px;
    margin-right: 10px;
}

.busca{
    display: flex;
    align-items: center;   
}

@media screen and (min-width: 600px) and (max-width: 2000px){
    .cards{
        display: flex;
        position:absolute;
        width: 41%;
        height: 70%;
        margin-top: 5%;
        margin-left: 8%;
}    


}

.movieCard{
    display: flex;
    width: 100%;
    
}

.bookCard{
    display: flex;   
    margin-left: 10%;
    width: 100%;
    
}

img{
    width: 125px;
    height: 150px;
    border-radius: 5%;

}
.cardText{
    width: 500px;
    height: 450px;
    margin-left: 20px;
    
}

.text-title{
    text-align: center;
    margin-bottom: 20px;
}

.text-description{
    margin-left: -125px;
    margin-top: 30px;
    
}


h5{
    display: flex;
    align-items: baseline;
}

pre{
    margin-left: 10px;
}

p{
    font-size: 1em;
}

